service: sekai-event-predictor

provider:
  name: kubeless
  runtime: nodejs14

plugins:
  - serverless-kubeless
  - serverless-plugin-typescript

functions:
  predict:
    handler: predictForSekaiViewer.serverless
    events:
      - schedule: "*/30 * * * *"
    environment:
      REDIS_URL: redis://redis-master.database/
      MINIO_END_POINT: minio.dnaroma.eu
      MINIO_BUCKET: sekai-best-assets
      IS_SERVERLESS: "true"